<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.venus.mapper.IUserDetailsMapper">
    <resultMap id="userResultMap" type="com.server.venus.entity.UserDetailsImpl">
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="telePhone" jdbcType="VARCHAR" property="telePhone" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="userFace" jdbcType="VARCHAR" property="userFace" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />

        <collection property="roles" resultMap="rolesMap" />
    </resultMap>

    <resultMap id="rolesMap" type="com.server.venus.entity.Role">
        <result column="name" jdbcType="VARCHAR" property="roleName"/>
        <result column="nameZh" jdbcType="VARCHAR" property="nameZh"/>
    </resultMap>

    <sql id="venusUser">
        phone, telePhone, address, username, password, userFace, remark
    </sql>

    <sql id="allVenusUser">
        user_id, phone, telePhone, address, username, password, userFace, remark
    </sql>

    <sql id="venusUserList">
        userRole.user_id, userRole.phone, userRole.telePhone, userRole.address,
        userRole.username, userRole.password, userRole.userFace, userRole.remark
    </sql>

    <sql id="userRole">
        user_id, role_id
    </sql>

    <select id="getUserByName" resultMap="userResultMap">
        SELECT r.role_name_en as roleName, r.role_name_zh, <include refid="venusUserList" />
        FROM venus_role r, (
            SELECT vur.<include refid="userRole" />, vu.<include refid="venusUser" />
            FROM venus_user_role vur, (
                SELECT <include refid="allVenusUser" />
                FROM venus_user
                WHERE username = #{username}
            ) vu
            WHERE vur.user_id = vu.user_id
        ) userRole
        WHERE userRole.role_id = r.id
    </select>

</mapper>