<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.venus.mapper.IVenusUserRoleMapper">
    <sql id="venusUser">
        userId, roleId
    </sql>

    <insert id="addUserRole">
        insert into venus_user_role(user_id, role_id)
        values (#{userId}, #{roleId})
    </insert>
</mapper>